.navbar{
	height: 80px;
	text-transform: uppercase;
	font-size: 15px;
  	background: #007bff;
  	background: linear-gradient(to right, #0062E6, #33AEFF);
}
.disabled{
	pointer-events: none;
  	cursor: default;
}
